/* CSS Document */
body {
    font: normal 90% «Trebuchet MS»,Verdana,»Lucida Grande»,Tahoma,Arial,Helvetica,Sans-Serif;
    color: #444;
    background:#f4f4f4;
    padding:0 0 2em 0;
    margin:0;
}